@charset "utf-8";
:root {
    --custom-color1: #2E4650;
    --custom-color2: #858585;
    


}
.bg-green {
    background: var(--custom-color1);
}
.nav-item a {
    color: white;
}
.trans {
    color: black;
    border: #858585;
}
 .news {
     color: var(--custom-color2);
     }
 .news span  {
 font-size: .750rem;
 }
 .move-top{
     color: var(--custom-color2);
     background: var(--custom-color7);    
 }
@media screen and (max-width : 576px) {
    html {
        font-size: 20px;
    }
    /*뷰포트마다 다른 UI를 처리할때 */
}
.main-logo {
    max-width: 320px;
   }
.main-logo img{
       width: 100%;
       object-fit: cover;
   }
 
#event_btn {
    background-color: #ff7e39;
    border-color: transparent;

}
.event_btn{
    border-color: #ff7e39;
    background-color: transparent;
}

.btn-login {
    background: var(--custom-color1);
    color: white;
}
.btn-light{
    background: var(--custom-color1);
    border: 0;
    color: white;
}

